/* src/components/HeroSlider/HeroSlider.module.css */
.sliderContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Sits behind the hero content */
}

.slide {
  width: 100%;
  height: 90vh; /* Match the hero section height */
  background-size: cover;
  background-position: center;
}

/* Customizing the slider dots */
.sliderContainer :global(.slick-dots) {
  bottom: 25px;
}

.sliderContainer :global(.slick-dots li button:before) {
  color: white;
  font-size: 12px;
}
